packages:
  yum:
    libjpeg-turbo-devel: []
    libffi-devel: []
    libcurl-devel: []
option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups: eb-webserver-instances
  aws:elasticbeanstalk:container:python:
    WSGIPath: "sampleproject/wsgi.py"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sampleproject.settings

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true